@{
    var content = ViewBag.currContent as ContentPage;
    var contentPages = ViewBag.Pages as List<ContentPage>;
    var MetaTitle = (ViewBag.MetaTitle == null || ViewBag.MetaTitle == "") ? SessionRequest.config.Title : ViewBag.MetaTitle;
    var MetaDescription = (ViewBag.MetaDescription == null || ViewBag.MetaDescription == "") ? "" : ViewBag.MetaDescription;
}
<!doctype html>
<html class="no-js" lang="tr">
<head>
    <title>@MetaTitle</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="ThemeZaa">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
    <meta name="description" content="@MetaDescription">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" type="text/css" href="/css/font-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme-vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <!-- revolution slider -->
    <link rel="stylesheet" type="text/css" href="/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/revolution/css/navigation.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    @Html.Raw(SessionRequest.config.HeadStyle)
    @Html.Raw(SessionRequest.config.HeadScript)
</head>
<body data-mobile-nav-style="classic" style="background:transparent;">
    <!-- start header -->
    <header>
        <!-- start navigation -->
        <!-- navbar navbar-expand-lg navbar-dark bg-transparent header-light fixed-top navbar-boxed header-reverse-scroll -->
        <!--
        navbar top-space navbar-expand-lg navbar-light bg-transparent header-light navbar-boxed border-bottom border-color-medium-gray fixed-top header-reverse-scroll

        -->
        <nav id="navBarCustom" class="navbar navbar-expand-lg navbar-dark bg-transparent header-light fixed-top navbar-boxed header-reverse-scroll">
            <div class="container-fluid nav-header-container">
                <div class="col-auto col-sm-6 col-lg-2 mr-auto pl-lg-0">
                    <a class="navbar-brand" href="/">
                        <img src="/images/LogoWhite.png" id="navBarCustomImg" class="default-logo" alt="">
                        <img src="/images/logo2.png" data-at2x="/images/logo2.png" class="alt-logo" alt="">
                        <img src="/images/logo2.png" data-at2x="/images/logo2.png" class="mobile-logo" alt="">
                    </a>
                </div>
                <div class="col-auto col-lg-8 menu-order px-lg-0">
                    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav alt-font">
                            @foreach (var item in contentPages.Where(x => x.IsHeaderMenu == true && x.ContentPageId == null).OrderBy(x => x.OrderNo))
                            {
                                var subItems = contentPages.Where(x => x.ContentPageId == item.Id && x.IsHeaderMenu == true).OrderBy(x => x.OrderNo);
                                if (subItems == null || subItems.Count() == 0)
                                {
                                    <li class="nav-item">
                                        @if (string.IsNullOrEmpty(item.ExternalLink))
                                        {
                                            <a href="@(item.IsClick == false ? "javascript:void(0)":"/"+item.Link)" class="nav-link">@item.Name</a>
                                        }
                                        else
                                        {
                                            <a href="@(item.IsClick == false ? "javascript:void(0)":"/"+item.ExternalLink)" class="nav-link" target="@(item.ExternalLink.StartsWith("http")?"_blank":"")">@item.Name</a>
                                        }
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item dropdown simple-dropdown">
                                        @if (string.IsNullOrEmpty(item.ExternalLink))
                                        {
                                            <a href="@(item.IsClick == false ? "javascript:void(0)":"/"+item.Link)" class="nav-link">@item.Name</a>
                                        }
                                        else
                                        {
                                            <a class="nav-title" href="@(item.IsClick == false ? "javascript:void(0)":"/"+item.ExternalLink)" target="@(item.ExternalLink.StartsWith("http")?"_blank":"")"><span class="menu-text">@item.Name</span></a>
                                        }
                                        <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                        <ul class="dropdown-menu" role="menu"> 
                                            @foreach (var itemSub in subItems)
                                            {
                                                <li class="dropdown">
                                                    @if (string.IsNullOrEmpty(itemSub.ExternalLink))
                                                    {
                                                        <a href="@(itemSub.IsClick == false ? "javascript:void(0)":"/"+itemSub.Link)">
                                                            @itemSub.Name
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@(itemSub.IsClick == false ? "javascript:void(0)":"/"+itemSub.ExternalLink)" target="@(itemSub.ExternalLink.StartsWith("http")?"_blank":"")">
                                                            @itemSub.Name
                                                        </a>
                                                    }
                                                </li>
                                            } 
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-auto col-lg-2 text-right pr-0 font-size-0">
                    @*<div class="header-search-icon search-form-wrapper">
                        <a href="javascript:void(0)" class="search-form-icon header-search-form"><i class="feather icon-feather-search"></i></a>
                        <!-- start search input -->
                        <div class="form-wrapper">
                            <button title="Close" type="button" class="search-close alt-font">×</button>
                            <form id="search-form" role="search" method="get" class="search-form text-left" action="search-result.html">
                                <div class="search-form-box">
                                    <span class="search-label alt-font text-small text-uppercase text-medium-gray">What are you looking for?</span>
                                    <input class="search-input alt-font" id="search-form-input5e219ef164995" placeholder="Enter your keywords..." name="s" value="" type="text" autocomplete="off">
                                    <button type="submit" class="search-button">
                                        <i class="feather icon-feather-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- end search input -->
                    </div>*@
                    <!--div class="header-push-button d-none d-lg-inline-block hidden-xs">
                        <a href="javascript:void(0);" class="push-button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div-->
                </div>
            </div>
        </nav>
        <div class="push-menu padding-50px-lr bg-white">
            <a href="javascript:void(0);" class="close-menu text-extra-dark-gray text-green-hover"><i class="fas fa-times"></i></a>
            <div class="push-menu-wrapper text-center" data-scroll-options='{ "theme": "dark" }'>
                <h1 class="text-extra-dark-gray alt-font font-weight-700 letter-spacing-minus-3px text-uppercase no-margin-bottom">Hello</h1>
                <span class="alt-font text-green text-large text-uppercase d-block">Let's be friends.</span>
                <div class="w-100 margin-5-rem-tb lg-margin-3-rem-tb">
                    <ul class="instafeed-grid instafeed-wrapper grid grid-3col xl-grid-3col lg-grid-3col md-grid-3col sm-grid-3col xs-grid-3col gutter-small" data-total="6">
                        <li class="grid-item"><figure><a href="#" data-href="{{link}}" target="_blank"><img src="#" data-src="{{image}}" class="insta-image" alt=""><span class="insta-counts"><i class="fab fa-instagram"></i>{{likes}}</span></a></figure></li>
                    </ul>
                </div>
                <div class="margin-5-rem-bottom text-center lg-margin-3-rem-bottom">
                    <span class="alt-font text-large margin-3-rem-bottom w-70 mx-auto text-extra-dark-gray d-inline-block line-height-26px lg-margin-2-rem-bottom">Get latest update for our trusted applications</span>
                    <form action="email-templates/subscribe-newsletter.php" method="post">
                        <div class="newsletter-email position-relative">
                            <input class="border-radius-5px medium-input m-0 required" name="email" placeholder="Enter your email address" type="email">
                            <input type="hidden" name="redirect" value="">
                            <button class="btn btn-medium line-height-18px submit" type="submit"><i class="far fa-envelope text-green left-icon"></i>subscribe</button>
                            <div class="form-results rounded d-none position-absolute"></div>
                        </div>
                    </form>
                </div>
                <div class="text-center elements-social social-icon-style-05 margin-10px-bottom">
                    <ul class="small-icon">
                        <li><a class="facebook" href="index.htm" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a></li>
                        <li><a class="dribbble" href="index-13.htm" target="_blank"><i class="fab fa-dribbble"></i><span></span></a></li>
                        <li><a class="twitter" href="index-3.htm" target="_blank"><i class="fab fa-twitter"></i><span></span></a></li>
                        <li><a class="instagram" href="index-2.htm" target="_blank"><i class="fab fa-instagram"></i><span></span></a></li>
                        <li><a class="linkedin" href="index-12.htm" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->


    @RenderBody()



    <!-- start footer -->
    <footer class="footer-dark bg-slate-blue">
        <div class="footer-top padding-six-tb lg-padding-eight-tb md-padding-50px-tb">
            <div class="container">
                <div class="row">
                    <!-- start footer column -->
                    <div class="col-12 col-lg-3 col-sm-6 order-sm-1 order-lg-0 md-margin-50px-bottom xs-margin-25px-bottom">
                        <a href="/" class="footer-logo margin-40px-bottom d-inline-block md-margin-30px-bottom xs-margin-20px-bottom"><img src="images/LogoWhite.png" data-at2x="images/LogoWhite.png" alt="" width="170" height="50"></a>
                        <span class="alt-font font-weight-500 text-extra-large line-height-32px letter-spacing-minus-1-half text-white d-block w-85 lg-w-100 md-w-70 sm-w-100 xs-w-90">Yaygın, öncü, güvenilir hizmetler grubu</span>
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col-12 col-lg-2 offset-lg-1 col-sm-6 order-sm-3 order-lg-0 xs-margin-25px-bottom">
                        <span class="alt-font font-weight-500 d-block text-white text-uppercase text-medium letter-spacing-2px margin-25px-bottom xs-margin-10px-bottom">Kurumsal</span>
                        <ul>
                            <li><a href="/tarihce">Tarihçe</a></li>
                            <li><a href="/yonetim-kurulu">Yönetim Kurulu</a></li>
                            <li><a href="/faaliyetlerimiz">Faaliyetler</a></li>

                        </ul>
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col-12 col-xl-2 offset-xl-1 col-lg-3 col-sm-6 order-sm-4 order-lg-0 xs-margin-25px-bottom">
                        <span class="alt-font font-weight-500 d-block text-white text-uppercase text-medium letter-spacing-2px margin-25px-bottom xs-margin-10px-bottom">Hizmetler</span>
                        <ul>
                            <li><a href="/bizden-haberler">Bizden Haberler</a></li>
                            <li><a href="/kariyer">Kariyer</a></li>
                            <li><a href="/iletisim">İletişim</a></li>
                        </ul>
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col-12 col-xl-2 offset-xl-1 col-lg-3 col-sm-6 order-sm-2 order-lg-0 md-margin-50px-bottom xs-no-margin-bottom">
                        <span class="alt-font font-weight-500 d-block text-white text-uppercase text-medium letter-spacing-2px margin-25px-bottom xs-margin-25px-bottom">Bizi Takip Edin</span>
                        <div class="social-icon-style-12">
                            <ul class="extra-small-icon light">
                                <li><a class="linkedin" href="https://www.linkedin.com/company/turgut-ayd-n-holding/ " target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end footer column -->
                </div>
            </div>
        </div>

        <div class="footer-bottom padding-5-half-rem-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 order-2 order-md-1 text-sm-center text-md-left last-paragraph-no-margin">
                        <p>© 2021 Aydin Holding is Proudly Powered by <a href="" target="_blank" class="text-decoration-line-bottom text-extra-dark-gray font-weight-500">Hybrid Rocks</a></p>
                    </div>
                    <div class="col-12 col-md-6 order-1 order-md-2 sm-margin-10px-bottom ">
                        <ul class="footer-horizontal-link d-flex flex-column flex-sm-row justify-content-sm-center justify-content-md-end">
                            <li><a href="~/Dokumanlar/TAH İş Başvurusu Kişisel Veri İzin öncesi Aydınlatma Metni.pdf" target="_blank">Gizlilik</a></li>
                            <li><a href="~/Dokumanlar/Çalışanların Kişisel Verilerinin İşlenmesine İlişkin Şirket Politikası.pdf" target="_blank">KVKK</a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </footer>


    <!-- end footer -->
    <!-- start scroll to top -->
    <!--a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a-->
    <!-- end scroll to top -->
    <!-- javascript -->

    <script type="text/javascript" src="/js/theme-vendors.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

    <!-- revolution js files -->
    <script type="text/javascript" src="/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- slider revolution 5.0 extensions (load extensions only on local file systems ! the following part can be removed on server for on demand loading) -->
    <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
    @Html.Raw(SessionRequest.config.FooterStyle)
    @Html.Raw(SessionRequest.config.FooterScript)
    <link href="~/css/custom.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            if (window.location.pathname != "/") {
                $("#navBarCustom").removeClass("navbar navbar-expand-lg navbar-dark bg-transparent header-light fixed-top navbar-boxed header-reverse-scroll");
                $("#navBarCustom").addClass("navbar top-space navbar-expand-lg navbar-light bg-white header-light navbar-boxed border-bottom border-color-medium-gray fixed-top header-reverse-scroll");
                $("#navBarCustomImg").attr("src", "/images/logo2.png");


            }
        })
        var revapi263,
            tpj;
        (function () {


            if (tpj === undefined) {
                tpj = jQuery;
                if ("off" == "on")
                    tpj.noConflict();
            }
            if (!/loaded|interactive|complete/.test(document.readyState))
                document.addEventListener("DOMContentLoaded", onLoad);
            else
                onLoad();
            function onLoad() {
                if (tpj("#rev_slider_26_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_26_1");
                } else {
                    var revOffset = tpj(window).width() <= 991 ? '73px' : '';
                    revapi263 = tpj("#rev_slider_26_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "/revolution/js/",
                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        delay: 4500,
                        navigation: {
                            keyboardNavigation: "on",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                touchOnDesktop: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                enable: true,
                                style: 'ares',
                                tmp: '',
                                rtl: false,
                                hide_onleave: false,
                                hide_onmobile: true,
                                hide_under: 767,
                                hide_over: 9999,
                                hide_delay: 0,
                                hide_delay_mobile: 0,

                                left: {
                                    container: 'slider',
                                    h_align: 'left',
                                    v_align: 'center',
                                    h_offset: 60,
                                    v_offset: 0
                                },

                                right: {
                                    container: 'slider',
                                    h_align: 'right',
                                    v_align: 'center',
                                    h_offset: 60,
                                    v_offset: 0
                                }
                            },
                            bullets: {
                                enable: true,
                                style: 'zeus',
                                direction: 'horizontal',
                                rtl: false,

                                container: 'slider',
                                h_align: 'center',
                                v_align: 'bottom',
                                h_offset: 0,
                                v_offset: 30,
                                space: 7,

                                hide_onleave: false,
                                hide_onmobile: false,
                                hide_under: 0,
                                hide_over: 767,
                                hide_delay: 200,
                                hide_delay_mobile: 1200
                            },
                        },
                        responsiveLevels: [1240, 1025, 778, 480],
                        visibilityLevels: [1920, 1500, 1025, 768],
                        gridwidth: [1200, 991, 778, 480],
                        gridheight: [1025, 1366, 1025, 868],
                        lazyType: "none",
                        shadow: 0,
                        spinner: "spinner4",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "on",
                        fullScreenAutoWidth: "on",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: revOffset,
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLimit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }
                ; /* END OF revapi call */
            }
            ; /* END OF ON LOAD FUNCTION */
        }()); /* END OF WRAPPING FUNCTION */


    </script>
</body>

</html>

